.App {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700"; */
body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
    /*background: #fafafa;*/
    background-color: #f5f9fc;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #354052;
    color: #adb5bd;
    margin-left: -250px;
    transition: all 0.2s;
}

.sidebar.is-open {
    margin-left: 0;
    transition: .5s;
}

.sidebar-header {
    background: #313b4c;
    color: #adb5bd;
    padding: 10px;
}

.sidebar-header h3 {
    color: #fff;
    padding: 1em;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.collapse.show,
.collapsing {
    background: #313b4c;
}

.navbar {
    position: absolute;
    top: 15px;
}

.nav-item {
    /*color: #ced4da;*/
    color: #adb5bd;
    font-weight: 300;
}

.nav-item.open {
    color: #e9ecef;
    background: #313b4c;
}

.nav-item.active {
    color: #e9ecef;
    background: #2d3646 !important;
}

.nav-item:hover {
    background: #313b4c;
    color: #fff;
    transition: .2s;
}

.nav-item .svg-inline--fa {
    color: inherit;
}

li a.dropdown-toggle::after {
    display: inline-flex;
    position: relative;
    left: 60%;
    top: 10%
}

.sidebar-header>button {
    position: relative;
    float: right;
    margin: .5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    padding: 0;
    margin-left: 0;
    height: 100%;
}

@media only screen and (max-width: 575.98px) {
    body {
        overflow: scroll;
    }
    .content.is-open {
        /*margin-left: 100%;*/
        display: none;
        transition: all 0.5s;
    }
    .sidebar.is-open {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0;
        transition: all 0.5s, height 0s;
        height: 100vh !important;
    }
    .sidebar.is-open>.sidebar-header button {
        display: block;
    }
    li a.dropdown-toggle::after {
        display: inline-block;
        position: relative;
        left: 68%;
    }
}

.center-cropped {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.head_part {
    height: 400px;
    background-image: url("./assets/blockchain.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid #cccccc;
}
.custom-border {
    border: 1px solid #E7E7E7;
	border-radius: 5px;
}
.body-part {
	width: 70%;	
	margin: auto;	
	padding: 50px 20px;
	margin-top: 50px;
}
.connect_btn {
	background-color: rgb(255, 0, 0);
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	color: white;
	font-weight: bold;
	cursor: pointer;
    text-align: center;
}
.connect_btn:hover {
	background-color: #F39C12;
}

.body_part_photo {
	width: 100%;
}
.body_part_photo_fixed_height {
    width: 100%;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #ffffff;
  }

  .img_container {
      position: relative;
      width: 100%;
  }
  
  .img_container:hover .overlay {
    opacity: 0.3;
  }

.red_letter {
	color: red;
}
.text-align-center {
    text-align: center;
}
.how_it_works p {
    font-size: 1.2em;
}

.text_big_ad {
    color: white;
    font-size: 5em;
}
.text_medium_ad {
    color: white;
    font-size: 2em;
}
.bold {
    font-weight: bold;
}
.big_dash_img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.footer_part {
	margin-top: 200px;
	border-top: 2px solid yellow;
	height: 150px;
	background-color: #00090F;
	color: white;    
}

/************** Metamask  **************/
/* .display-none {
    display: none;
}

.display-block {
    display: block;
}
#metamask_modal {
    
    width: 370px;
    position: fixed; 
    right: 80px; 
    top: 0; 
    z-index: 99; 
    background-color: white; 
    border-radius: 0px 0px 10px 10px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}

#metamask_container {
    height: 67px; 
    background-color: #f2f3f4; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
}

#metamask_container1 {
    background-color: #29B6AF; border-color: #29B6AF;
}

#metamask_container2 {
    padding: 30px;
}

#metamask_container3 {
    margin-top: 24px; display: flex; justify-content: center;
}

#modal-title {
    text-align: center;
}

#modal-description {
    color: rgb(174, 174, 174); text-align: center; white-space: pre-line; margin-top: 5px;
}

#metamask_container4 {
    margin: 80px 0 8px;
}
#modal-input {
    border-style: solid; 
    border-width: 0 0 1px 0; 
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px; 
    padding-bottom: 5px; 
    border-color: rgb(170, 170, 170); 
    width: 100%;
}

#modal-submit {
    width: 100%;
}

#recover {
    color: rgb(150, 150, 150); 
    font-weight: 600; 
    font-size: 12px; 
    text-align: center; 
    margin-top: 20px;
}

#metamask-footer {
    color: rgb(150, 150, 150); 
    font-weight: 600; 
    font-size: 12px; 
    text-align: center; 
    margin-top: 25px;
}

input::placeholder {
    color: rgb(100, 100, 100);
 }

 textarea,
 select,
 input,
 button {
    outline: none;
 }

 .btn {
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    margin-top: 27px;
 }

 .btn:hover {
    background-color: rgb(42, 101, 177);
    transition: background-color 0.2s;
    cursor: pointer;
 } */